*{
  position: relative;
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: border-box;
}
body{
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
  font-family: cursive;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  margin-bottom: 50px;
}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
section{
 
  background: #f4f4f4;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
	margin: auto;
}

p{
  font-size: 17px;
}
.container{
  width: 86%;
  min-height: 90%;
  margin: auto;
 
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 15px 35px rgba( 0,0,0, 0.05 );
  backdrop-filter: blur( 2.0px );
 -webkit-backdrop-filter: blur( 2.0px );
  border-radius: 20px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}